[submodule "environments/vagrant/research/puppet/modules/python"]
	path = environments/vagrant/research/puppet/modules/python
	url = https://github.com/stankevich/puppet-python.git
[submodule "environments/vagrant/research/stdlib"]
	path = environments/vagrant/research/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "environments/vagrant/research/puppet/modules/vcsrepo"]
	path = environments/vagrant/research/puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "functional/env/ansible/research/roles/ansible-r"]
	path = functional/env/ansible/research/roles/ansible-r
	url = https://github.com/Oefenweb/ansible-r.git
[submodule "functional/env/ansible/research/roles/ansible-rstudio"]
	path = functional/env/ansible/research/roles/ansible-rstudio
	url = https://github.com/Oefenweb/ansible-rstudio.git
